<%-include('header')%>

    <body>
        <%-include('headsection')%>
            <!-- Start All Title Box -->
            <div class="all-title-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>ABOUT US</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">ABOUT US</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End All Title Box -->

            <!-- Start About Page  -->
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title">We are <span>AllSilks</span></h2>
                            <p>Welcome to our exquisite silk saree showroom, where legacy and history intertwine to
                                bring you a
                                taste of timeless elegance. With a rich heritage spanning generations, we
                                take pride in curating the finest silk sarees that embody the essence of tradition and
                                supremacy.
                                Each piece tells a story of craftsmanship handed down through ages, a testament to our
                                commitment to preserving the artistry of yesteryears. Step into a world where the
                                threads of
                                past and present meet, and experience the sheer opulence of silk sarees that have
                                adorned queens
                                and captivated hearts for centuries. Discover the legacy, embrace the supremacy, and
                                drape
                                yourself in the grace of our meticulously curated silk saree collection.</p>

                        </div>
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-thumbnail img-fluid"
                                    src="../assetu/images/aboutus1.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-sm-6 col-lg-4">
                            <div class="service-block-inner">
                                <h3>We are Trusted</h3>
                                <p>With a legacy of trust built over years, we are your reliable destination for the
                                    finest silk sarees that embody unparalleled quality and craftsmanship. </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="service-block-inner">
                                <h3>We are Professional</h3>
                                <p>Our team of seasoned professionals is dedicated to providing you with
                                    top-notch service and expertise, ensuring a seamless and enjoyable experience.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="service-block-inner">
                                <h3>We are Expert</h3>
                                <p>Backed by extensive knowledge and experience, we are
                                    the experts in bringing you the most exquisite and authentic silk sarees. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End About Page -->
    </body>
    <%-include('footer')%>