<%- include('header') %>
<%- include('headsection') %>
<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
  }

  th {
      background-color: #f2f2f2;
  }
</style>

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>My Account</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Shop</a></li>
          <li class="breadcrumb-item active">My Account</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->

<div class="cart-box-main">

  <div class="container mt-5">
    <ul class="nav nav-tabs" id="accountTabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profileTab">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#addAddressTab">Add Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#displayAddressTab">Account details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#wishlistTab">Wishlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cartTab">My Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#walletTab">Wallet</a>
      </li>
      
    </ul>

    <div class="tab-content mt-3">


       <!-- Profile Tab -->
       <div id="profileTab" class="tab-pane">
       
        <h2>Hello <span><%=locals.profilename%></span></h2>
         <p>From your account you can easily view and track orders. You can manage 
        and change your account information like address, contact information 
        and history of orders.</p> 
        
      </div>


      <!-- Add Address Tab -->
      <div id="addAddressTab" class="tab-pane active">
        <h3>Add Address</h3>
        <form>
          <div class="form-group">
            <label for="addressLine">Address Line:</label>
            <input type="text" class="form-control" id="addressLine" placeholder="Enter address">
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city">
          </div>
          <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" placeholder="Enter state">
          </div>
          <button type="submit" class="btn btn-primary">Add Address</button>
       
        </form>
      </div>

      <!-- Display Account details Tab -->
      <div id="displayAddressTab" class="tab-pane">
        <h3>Account Details</h3>
   
      </div>

      <!-- Wishlist Tab -->
      <div id="wishlistTab" class="tab-pane">
        <h3>Wishlist</h3>
        <!-- Wishlist content -->
      </div>

      <!-- Cart Tab -->
      <div id="cartTab" class="tab-pane">
           <h4>All your orders appears here.click below!!!</h4>
           <a href="/myOrders" class="ml-auto btn hvr-hover">View Order History</a>
           
      </div>


      <!-- wallet Tab -->
      <div id="walletTab" class="tab-pane">
        <h3>wallet</h3>
        <!-- Cart content -->
      </div>

     
    </div>
  </div>
</div>

  







<%- include('footer') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <script>
    // Activate Bootstrap tabs
    $(document).ready(function(){
      $("# a").click(function(){
        $(this).tab('show');
      });
    });
  </script>