
<%-include('header')%>
<%-include('headsection')%>
<style>


#my-account-section .dashboard-list li {
    margin-bottom: 10px;
}

#my-account-section .btn {
    display: block;
    width: 100%;
    padding: 10px;
    /* Set your desired background color */
    text-align: left;
    text-decoration: none;
    color:whitesmoke; /* Set your desired text color */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px;
}

#my-account-section .btn:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
}

</style>

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>My Account</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<div class="cart-box-main">
<div id="my-account-section" class="container">
    <section class="main_content_area">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a class="btn hvr-hover" href="#"><i class="fas"></i>Profile</a></li>
                            <li><a class="btn hvr-hover" href="#"><i class="fas"></i>Address</a></li>
                            <li><a class="btn hvr-hover" href="#"><i class="fas"></i>Orders</a></li>
                            <li><a class="btn hvr-hover" href="#"><i class="fas"></i>Cart</a></li>
                            <li><a class="btn hvr-hover" href="#"><i class="fas"></i>Wallet</a></li>
                            <li><a class="btn hvr-hover" href="/logout"><i class="fas"></i>Logout</a></li>
                           
                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="dashboard">
                            <h3>Dashboard</h3>
                            <p>From your account dashboard, you can easily check &amp; view your <a href="#">recent
                                    orders</a>, manage your <a href="#">shipping and billing addresses</a> and
                                <a href="#">Edit your password and account details.</a>
                            </p>
                        </div>
                        <!-- Add other tab content here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
<!-- End My Account Section -->

   

<%-include('footer')%>