<%-include('header')%>
<body>
    <style>
        
     
.ec-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.ec-register-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
</style>
    <%-include('headsection')%>

<!-- Start Register -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    
                    
                </div>
            </div>
            <div class="ec-register-wrapper">
                <div class="ec-register-container">
                    
                    <div class="ec-register-form">
                        <form id="signupForm">
                            <h2 class="ec-bg-title text-center">Register Here</h2>
                            <span class="ec-register-wrap ec-register-half">
                                <label>First Name*</label>
                                <input type="text" name="firstname" placeholder="Enter your first name" />
                                <p id="firstnameError" class="p-1 text-danger"></p>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Last Name*</label>
                                <input type="text" name="lastname" placeholder="Enter your last name" />
                                <p id="lastnameError" class="p-1 text-danger"></p>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Email*</label>
                                <input type="email" name="email" id="email" placeholder="Enter your email add..." />
                                <p id="emailError" class="p-1 text-danger"></p>
                            </span>
                     
                            <span class="ec-register-wrap ec-register-half">
                                <label>Phone Number*</label>
                                <input type="text" name="phonenumber" id="phonenumber" placeholder="Enter your phone number"
                                    />
                                    <p id="phoneError" class="p-1 text-danger"></p>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label>Password*</label>
                                <input type="password" name="password" id="password" placeholder="Enter your password"
                                    />
                                    <p id="passwordError" class="p-1 text-danger"></p>
                            </span>
                           
                            <span class="ec-register-wrap ec-register-half">
                                <label>Re-Type Password*</label>
                                <input type="password" name="repassword" id="password2" placeholder="Re-Type your password"
                                    />
                                    <p id="repasswordError" class="p-1 pb-0 text-danger"></p>
                            </span>
                            
                           <div style="display: flex;">
                            <input type="checkbox" style="width: 15px; margin-left: 10px; " id="showPassword" onchange="togglePasswordVisibility()" />
                            <label for="showPassword">Show Password</label>
                           </div>
                             
                            <span class="ec-register-wrap ec-register-btn">
                                <button class="btn btn-primary" type="submit" >Submit</button>
                            </span>
                            <br>
                            <div class="member mb-4">
                              Already a member? <a class="btn btn-primary" href="/login">Login here</a>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Register -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
        const handleSubmit = async (event) => {
            event.preventDefault();
            
            
            const formData = new FormData(event.target);
            console.log("Form Data:", formData);

            try {
                const response = await axios.post('/signup',formData, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                console.log(response.status);
                

                // if (response.status === 200) {
                //  alert(11);
                window.location.href = '/showOtp';
                
                // }

            } 
            catch (error) {
                
console.log(error);
                if (error.response.status == 400) {
                    const errors = error.response.data.error;
                    Object.keys(errors).forEach((key) => {
                        let element = document.getElementById(key).textContent = errors[key];
                    });
                } 
                else {
                    alert("something went wrong");
                }

            }
        };

        document.getElementById('signupForm').addEventListener('submit', handleSubmit);
    

        
        
                              function togglePasswordVisibility() {
                                const passwordField = document.getElementById("password");
                                if (passwordField.type === "password") {
                                  passwordField.type = "text";
                                } else {
                                  passwordField.type = "password";
                                }
                              }
                         
</script>
<%-include('footer')%>